@{
    ViewData["Title"] = "Управление портфелями ценным бумаг";
}

<div class="text-center">
    <h1 class="mb-5">Работа с портфелями бумаг</h1>

    <p class="text-start">Выбор действия:</p>
    <div class="list-group text-start" style="max-width: fit-content;">
        <a class="list-group-item list-group-item-action font-weight-bold" asp-area="" asp-controller="Portfolios" asp-action="GetOne">Получить одну</a>
        <a class="list-group-item list-group-item-action font-weight-bold" asp-area="" asp-controller="Portfolios" asp-action="GetAll">Получить все</a>
        <a class="list-group-item list-group-item-action font-weight-bold" asp-area="" asp-controller="Portfolios" asp-action="Create">Создать</a>
        <a class="list-group-item list-group-item-action font-weight-bold" asp-area="" asp-controller="Portfolios" asp-action="Delete">Удалить</a>
        <a class="list-group-item list-group-item-action font-weight-bold" asp-area="" asp-controller="Portfolios" asp-action="Edit">Редактировать</a>
    </div>
</div>