@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="mb-5">Описание</h1>
    <p class="text-start">
        Дана база данных, содержащая сведения о наименовании ценной бумаге, ее котировках, а также составе портфеля пользователя: дате покупки/продажи, количестве бумаг и их стоимости в сделке. Покупок, как и продаж может быть несколько.
    </p>
    <p class="text-start">Необходимо решить следующие задачи:</p>
    <ol class="text-start">
        <li>Вычислить стоимость портфеля на выбранный день – <a class="font-weight-bold" asp-area="" asp-controller="Home" asp-action="First">Решение</a></li>
        <li>Вычислить стоимость указанных ценных бумаг на текущий день (с указанием процента прибыли/убытка – <a class="font-weight-bold" asp-area="" asp-controller="Home" asp-action="Second">Решение</a></li>
        <li>Вычислить оборот клиента за указанный период – <a class="font-weight-bold" asp-area="" asp-controller="Home" asp-action="Third">Решение</a></li>
    </ol>
</div>